<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <title>LOGSING</title>
</head>

<body>
<h1>LOGSING</h1><hr/>
<i> Let your logs sing for you </i><br/><br/>
<div class="container">
  <div class="panel-group" id="accordion">
    <% if (logs.length) { %>
      <% var lastSection = ""; %>
      <% var sectionIndex = 1; %>
        <div><div><div>
	<% logs.forEach(function(log){ %>
	    <% if (log.state === lastSection) { %>
	    <div><%= log.data %></div><br/>
	    <% } else { %>
	    </div>
	    </div>
	    </div>
	    <div class="panel panel-default">
	    <div class="panel-heading" style="background-color:<%= log.bgColor %>;">
	    <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= sectionIndex %>"><%= log.state %></a>
	    </h4>
	    </div>
	    <div id="collapse<%= sectionIndex %>" class="panel-collapse collapse">
	    <div class="panel-body">
	    <div><%= log.data %></div><br/>
	    <% lastSection = log.state; %>
	    <% sectionIndex = sectionIndex + 1; %>
	    <% } %>
	    <% }); %>
	</div></div></div>
	<% } %>
  </div>
</div>
</body>
</html>

<html>
<body>
