<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <title>LOGSING</title>
</head>

<body>
<h1>LOGSING</h1><hr/>
<i> Let your logs sing for you </i><br/><br/>

<% function showContainer(logs, currentIndex, maxIndex, id) { %>
    <% var accordionId = id + currentIndex; %>
    <div class="panel-group" id="accordion<%= accordionId %>">

    <% if (logs.length) { %>
      <% var lastSection = ""; %>
      <% var sectionIndex = 1; %>

        <div><div><div>
        <% var childLogs = []; %>
	<% logs.forEach(function(log){ %>
	    <% if (log.states[currentIndex].name === lastSection) { %>
	      <% if (currentIndex == maxIndex) { %>
	        <div><%= log.data %></div><br/>
	      <% } else { %>
                <% childLogs.push(log); %>
	      <% } %>
	    <% } else { %>
	    <% if (currentIndex < maxIndex) { %>
	      <% showContainer(childLogs, currentIndex + 1, maxIndex, accordionId + sectionIndex); %>
	      <% childLogs = []; %>
	    <% } %>
	    </div></div></div>

	    <div class="panel panel-default">
	    <div class="panel-heading" style="background-color:<%= log.states[currentIndex].bgColor %>;">
	    <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#accordion<%= accordionId %>" href="#collapse<%= accordionId %><%= sectionIndex %>"><%= log.states[currentIndex].name %></a>
	    </h4>
	    </div>
	    <div id="collapse<%= accordionId %><%= sectionIndex %>" class="panel-collapse collapse">
	    <div class="panel-body" style="background-color:#efefef;">
	    <div><%= log.data %></div><br/>
	    <% lastSection = log.states[currentIndex].name; %>
	    <% sectionIndex = sectionIndex + 1; %>
	    <% } %>
	    <% }); %>
	</div></div></div>
	<% } %>
    </div>
<% } %>

<div class="container">
<% showContainer(logs, 0, logs[0].states.length - 1, ""); %>
</div>

<script type="text/javascript">
  $("#accordion").on("shown.bs.collapse", function () {
    var myEl = $(this).find('.collapse.in').prev('.panel-heading');
    $('html, body').animate({ scrollTop: $(myEl).offset().top - 20 }, 500);
  });
</script>

</body>
</html>

<html>
<body>
